a:link {
    color: #da7d20;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
color: #da4f20;
text-decoration: underline;
}

a:visited {
    color: #da7d20;
    background-color: transparent;
    text-decoration: none;
}

.top-right-btn {
    background-color: #1e1e1ecb;
    opacity: 80%;
    color: #da7d20;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Cinzel', serif; 
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

.top-right-btn:hover {
    color: #da4f20;
    font-weight: bold;
}

.icon-btn {
    display: flex;
    justify-content: center;
    background-color: #bda38b4c;
    opacity: 80%;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
}

.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1ecb;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: 0.3s;
}

.items-container p {
    color: #DAA520;
}

.items-container:hover {
    background-color: #233470a2;
    transform: scale(1.20);
}

.items-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.items-section {
    display: flex;
    align-items: center;
    gap: 50px;
    /* background-color: #f8f9fa; */
    padding: 20px;
    transition: transform 0.3s;
}

.items-section:hover {
    transform: scale(1.20);
}

.items, .loaded-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: #fff; */
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.items p, .loaded-items p {
    margin: 5px 0;
}

.items p {
    text-align: left;
}

.items {
    flex: 0 0 100px;
}

.loaded-items {
    flex: 1; /* Take the remaining space */
}

/* .profile-selection {
    display: flex;
    justify-content: space-around;
    scroll-behavior: smooth;
    width: 100%;
    padding-bottom: 20px;
} */

.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1ecb;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: 0.3s;
}

.items-container p {
    color: #DAA520;
}

.items-container:hover {
    background-color: #233470a2;
    transform: scale(1.20);
}

.items-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.items-section {
    display: flex;
    align-items: center;
    gap: 50px;
    /* background-color: #f8f9fa; */
    padding: 20px;
    transition: transform 0.3s;
}

.items-section:hover {
    transform: scale(1.20);
}

.items, .loaded-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: #fff; */
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.items p, .loaded-items p {
    margin: 5px 0;
}

.items p {
    text-align: left;
}

.items {
    flex: 0 0 100px;
}

.loaded-items {
    flex: 1; /* Take the remaining space */
}

#confetti-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
  }