body {
    font-family: Arial, sans-serif;
    background-color: #E1F7F5;
    color: black;
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-family: 'Cinzel', serif; 
}

.container {
    text-align: center;
    margin: auto;
    margin-top: -150px;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#profile-bg-image {
    background-image: url('assets/img/bg1.webp');
    background-size: cover;
    background-position: center;
    width: 110%;
    height: 110%;
    filter: blur(2px);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#weapons-bg-image {
    background-image: url('assets/img/bg2.webp');
    background-size: cover;
    background-position: center;
    width: 110%;
    height: 110%;
    position: absolute;
    filter: blur(2px);
}

.sidebar {
    width: 15%;
    background-color: rgba(0, 0, 0, 0.438);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 170px;
}
.sidebar img.sidebar-image {
    width: 90%;
    height:20%;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}
.sidebar img.sidebar-image:hover {
    transform: scale(1.25);
}

.sidebar button.search-button img.search-icon {
    height: 30px;
}

.sidebar button {
    background-color: #222222;
    color: white;
    border: none;
    width: 70%;
    border-radius: 8px;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar button.active {
    background-color: #bb9107;
    color: white;
    transform: scale(1.25);
}

.sidebar button:hover {
    background-color: #bb9107;
    color: white;
    transform: scale(1.25);
    
}

.main-content {
    flex-direction: column;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e72;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
}

h2 {
    color: #bb9107;
    background-color: #222222;
    padding: 10px;
    border-radius: 8px;
}

button {
    background-color: #0E46A3;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

#profile1next {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #0E46A3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, transform 0.5s;
}

button:hover {
    transform: scale(1.25);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 8rem;
}

/* @media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
} */

.profile-selection, .boss-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.attributes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1ecb;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: 0.3s;
}

.attributes-container p {
    color: #DAA520;
}

.attributes-container:hover {
    background-color: #233470a2;
    transform: scale(1.20);
}

.attributes-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.attributes-section {
    display: flex;
    align-items: center;
    gap: 50px;
    /* background-color: #f8f9fa; */
    padding: 20px;
    transition: transform 0.3s;
}

.attributes-section:hover {
    transform: scale(1.20);
}

.attributes, .loaded-attributes {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: #fff; */
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.attributes p, .loaded-attributes p {
    margin: 5px 0;
}

.attributes p {
    text-align: left;
}

.attributes {
    flex: 0 0 100px;
}

.loaded-attributes {
    flex: 1; /* Take the remaining space */
}

/* .profile-selection {
    display: flex;
    justify-content: space-around;
    scroll-behavior: smooth;
    width: 100%;
    padding-bottom: 20px;
} */

.attributes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1ecb;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: 0.3s;
}

.attributes-container p {
    color: #DAA520;
}

.attributes-container:hover {
    background-color: #233470a2;
    transform: scale(1.20);
}

.attributes-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.attributes-section {
    display: flex;
    align-items: center;
    gap: 50px;
    /* background-color: #f8f9fa; */
    padding: 20px;
    transition: transform 0.3s;
}

.attributes-section:hover {
    transform: scale(1.20);
}

.attributes, .loaded-attributes {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: #fff; */
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.attributes p, .loaded-attributes p {
    margin: 5px 0;
}

.attributes p {
    text-align: left;
}

.attributes {
    flex: 0 0 100px;
}

.loaded-attributes {
    flex: 1; /* Take the remaining space */
}

/* .profile-selection {
    display: flex;
    justify-content: space-around;
    scroll-behavior: smooth;
    width: 100%;
    padding-bottom: 20px;
} */

.profile, .boss {
    background-color: #333333;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #555555;
    width: 150px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-occupied {
    background-color: #1e1e1ecb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 670px;
    border: 2px solid #f0a500;
    border-radius: 20px;
    transition: transform 1s, box-shadow s;
    display: inline-block;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.profile:hover, .boss:hover {
    background-color: #555555;
    transform: scale(1.05);
}

.profile-occupied:hover {
    transform: rotateY(20deg); /* Rotate around the vertical axis on hover */
    background-color: #233470a2 ;
}

.profile-occupied img {
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(70px)
}

.profile-occupied p {
    margin: 10px 0;
    text-align: center;
    color: #DAA520;
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(30px)
}

#profile-name {
    margin: 10px 0;
    text-align: center;
    color: #ebd35b;
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(20px);
    font-size: 40px;
}

.profile-occupied img {
    width: 100%; /* Ensure the image fits within the profile block */
    border-radius: 8px; /* Optional: Adds rounded corners to the image */
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

#suggest-weapons, #go-metabuilds {
    font-family: 'Cinzel', serif; 
    background-color: #0000008e;
    color: #DAA520;
    width: 260px;
    height: 150px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

#suggest-weapons:hover, #go-metabuilds:hover {
    background-color: #DAA520;
    color: #000000;
    transform: scale(1.25);
}

.main-content .meta-build-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 950px;
}

.meta-build-search {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.meta-build-search input {
    height: 30px;
    width: 400px;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 10px;
}
.meta-build-search button {
    height: 36px;
    width: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    padding: 0;
}

.meta-build-search button:hover {
    transform: scale(1);
}

.build-list {
    min-width: 1000px;
    min-height: 600px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    perspective: 500px;
}

.build-text {
    background-color: aqua;
}

.build-image {
    background-color: beige;
    width: 100%;
    height: 100%;
}

.build {
    background-color: #333333;
    border: 3px solid #555555;
    min-width: 200px;
    min-height: 300px;
    height: 70%;
    text-align: center;
    border-radius: 12px;
    position: absolute;
    top: 10%;
    transition: 0.4s;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform-origin: bottom;
    pointer-events: none;
}

.build-list .build:nth-child(1) {
    transform: translateX(-350px) scale(0.8) rotateY(25deg);
    z-index: 1;
}
.build-list .build:nth-child(2) {
    transform: translateX(-350px) scale(0.8) rotateY(25deg);
    z-index: 2;
}

.build-list .build:nth-child(3) {
    transform: translateX(-250px) scale(0.9) rotateY(15deg);
    z-index: 3;
}

.build-list .build:nth-child(4) {
    transform: translateX(0) scale(1) rotateY(0deg);
    cursor: pointer;
    width: 400px;
    z-index: 4;
    pointer-events: auto;
}

.build-list .build:nth-child(4)::before {
    opacity: 1;
}

.build-list .build:nth-child(5) {
    transform: translateX(250px) scale(0.9) rotateY(-15deg);
    z-index: 3;
}
.build-list .build:nth-child(6) {
    transform: translateX(350px) scale(0.8) rotateY(-25deg);
    z-index: 2;
}
.build-list .build:nth-child(7) {
    transform: translateX(350px) scale(0.8) rotateY(-25deg);
    z-index: 1;
}
.list-buttons{
    min-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
}

.list-buttons span {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    margin-left: 5px;
    margin-right: 5px;
    bottom: 70px;
}

.list-buttons button {
    position: relative;
    bottom: 70px;
}

.list-buttons span:hover {
    opacity: 1;
}

.list-buttons span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    bottom: 20px;
    left: 20px;
    rotate: -45deg;
}
.list-buttons span:last-child::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    bottom: 20px;
    left: initial;
    right: 20px;
    rotate: 135deg;
}


.build::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(196, 192, 192, 0.3), rgba(0, 0, 0, 0.9));
    z-index: 2;
    opacity: 0;
    border-radius: 12px;
    transition: 0.4s all;
}


.build-list .build:nth-child(4) .build-name {
    opacity: 1;
    transform: translateY(0px);
}


.build img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 12px;
}

.build .build-name {
    text-align: center;
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(-30px);
    transition: 0.4s all;
}

.build-blurb header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.slider {
    background-color: rgb(96, 96, 96);
    background-image: url("https://oyster.ignimgs.com/mediawiki/apis.ign.com/elden-ring/c/c9/Elden_BlasphemousBlade1.jpg");
    background-size: cover;
    min-height: 600px;
    min-width: 1000px;
    width: 100%;
    background-position: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: 0.4s all;
}

.slider.off *{
    transform: scale(0);
    transition: 0.4s all;
}

.slider.on *{
    transform: scale(1);
    transition: 0.4s all;
}

.slider.off {
    min-height: 300px;
    height: 300px;
}

.slider.on {
    height: 85vh;
}

.build-button {
    position: relative;
    z-index: 2;
}

.build-blurb {
    width: 100%;
    display: none;
    position: relative;
}

.build-blurb.hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: 0.4s all;
}

.build-blurb.selected {
    opacity: 1;
    transform: translateY(0);
    transition: 0.4s all;
}
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 0%;
}

.chat-window {
    /* background: url('assets/img/armament/Academy\ Glintstone\ Staff.webp'); */
    /* background-repeat: repeat; */
    width: 80%;
    height: 75vh;
    background-color: rgba(255, 255, 255, 0.712);
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.chat-input {
    display: flex;
    width: 80%;
}

.chat-input input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.chat-input button {
    width: 10%;
    padding: 10px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
}
.chat-input button:hover {
    background-color: #DAA520;
}

.user-message {
    color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    align-self: flex-end;
    word-wrap: break-word;
    display: block;
    text-align: right;
    
}

.bot-message {
    color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    align-self: flex-start;
    max-width: 60%;
    word-wrap: break-word;
    display: block;
    text-align: left;
}
.message-label {
    font-weight: bold;
    margin-right: 10px;
}