body {
    font-family: Arial, sans-serif;
    background-color: #E1F7F5;
    color: black;
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-family: 'Cinzel', serif; 
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    margin: auto;
    margin-top: -150px;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#profile-bg-image {
    background-image: url('assets/img/bg1.webp'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    /* filter: blur(2px); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#weapons-bg-image {
    background-image: url('assets/img/bg2.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    /* filter: blur(2px); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sidebar {
    width: 15%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.438);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 170px;
    overflow-y: scroll;
}
.sidebar:hover {
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
    background-color: black;
}
.sidebar img.sidebar-image {
    width: 18vh;
    height:18vh;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}
.sidebar img.sidebar-image:hover {
    transform: scale(1.25);
}

.sidebar button.search-button img.search-icon {
    height: 30px;
}

.sidebar button, .meta-build-search button, .back {
    background-color: #222222;
    color: white;
    border: none;
    width: 70%;
    border-radius: 8px;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar button.active {
    background-color: #bb9107;
    color: white;
    transform: scale(1.2);
}

.sidebar button:hover{
    background-color: #bb9107;
    color: white;
    transform: scale(1.25);
    
}
/* feafaefa */

.sidebar1 {
    width: 15%;
    background-color: #012d3692;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}
.sidebar1:hover {
    background-color: #031515;
}
.sidebar1 img.sidebar-image {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}
.sidebar1 img.sidebar-image:hover {
    transform: scale(1.1);
}

.sidebar1 button.search-button img.search-icon {
    height: 30px;
}

.sidebar1 button {
    background-color: #0000008e;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: #DAA520;
    border: none;
    width: 70%;
    border-radius: 8px;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar1 button.active {
    background-color: #DAA520;
    color: #000000;
    transform: scale(1.15);
}

.sidebar1 button:hover {
    background-color: #DAA520;
    color: #000000;
    transform: scale(1.25);
    
}
/* ffaefaf */
.main-content {
    flex-direction: column;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1ee4;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    font-size: 15px;
    line-height: 0.1;
}

.armor-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e72;
    color: #bb9107;
    /* padding: 10px; */
    width: 50%;
    border-radius: 20px;
}

h2 {
    color: #bb9107;
    padding: 10px;
    border-radius: 8px;
}

button {
    background-color: #0E46A3;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

#profile1next {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #0E46A3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, transform 0.5s;
}

button:hover {
    transform: scale(1.25);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 8rem;
}

/* @media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
} */

.profile-selection, .boss-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.attributes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1ecb;
    padding: 20px;
    border: 1px solid #f0a500;
    border-radius: 20px;
    transition: 0.3s;
}

.hidden {
    opacity: 0;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.attributes-container p {
    color: #DAA520;
}

.attributes-container:hover {
    background-color: #233470a2;
    transform: scale(1.20);
}

.attributes-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.attributes-section {
    display: flex;
    align-items: center;
    gap: 50px;
    /* background-color: #f8f9fa; */
    padding: 20px;
    transition: transform 0.3s;
}

.attributes-section:hover {
    transform: scale(1.20);
}

.attributes, .loaded-attributes {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: #fff; */
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.loaded-attributes {
    width: 50px;
}

.attributes p, .loaded-attributes p {
    margin: 5px 0;
}

.attributes p {
    text-align: left;
}

.attributes {
    flex: 0 0 100px;
}

.loaded-attributes {
    flex: 1; /* Take the remaining space */
}

/* .profile-selection {
    display: flex;
    justify-content: space-around;
    scroll-behavior: smooth;
    width: 100%;
    padding-bottom: 20px;
} */

.attributes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1ecb;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: 0.3s;
}

.attributes-container p {
    color: #DAA520;
}

.attributes-container:hover {
    background-color: #233470a2;
    transform: scale(1.20);
}

.attributes-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.attributes-section {
    display: flex;
    align-items: center;
    gap: 50px;
    /* background-color: #f8f9fa; */
    padding: 20px;
    transition: transform 0.3s;
}

.attributes-section:hover {
    transform: scale(1.20);
}

.attributes, .loaded-attributes {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: #fff; */
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.attributes p, .loaded-attributes p {
    margin: 5px 0;
}

.attributes p {
    text-align: left;
}

.attributes {
    flex: 0 0 100px;
}

.loaded-attributes {
    flex: 1; /* Take the remaining space */
}

/* .profile-selection {
    display: flex;
    justify-content: space-around;
    scroll-behavior: smooth;
    width: 100%;
    padding-bottom: 20px;
} */

.profile, .boss {
    background-color: #333333;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #555555;
    width: 150px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-occupied {
    background-color: #1e1e1ecb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 670px;
    border: 2px solid #f0a500;
    border-radius: 20px;
    transition: transform 1s, box-shadow s;
    display: inline-block;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.profile:hover, .boss:hover {
    background-color: #555555;
    transform: scale(1.05);
}

.profile-occupied:hover {
    transform: rotateY(20deg); /* Rotate around the vertical axis on hover */
    background-color: #233470a2 ;
}

.profile-occupied img {
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(70px)
}

.profile-occupied p {
    margin: 10px 0;
    text-align: center;
    color: #DAA520;
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(50px)
}

#profile-name {
    margin: 10px 0;
    text-align: center;
    color: #ebd35b;
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(20px);
    font-size: 40px;
}

#profile-details {
    font-weight: 100;
    margin: 10px 0;
    text-align: center;
    color: #ebd35b;
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(20px);
    font-size: 40px;
}

.profile-occupied img {
    width: 100%; /* Ensure the image fits within the profile block */
    border-radius: 8px; /* Optional: Adds rounded corners to the image */
}

.armor-container {
    width:100%;
    display: flex; 
    padding-top: 15%;  
    height: 100vh; 
    justify-content: space-evenly; 
    flex-wrap: wrap; 
    overflow-y: auto;
}

.armor-occupied {
    background-color: #1e1e1ecb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 285px;
    height: 265px;
    border: 2px solid #f0a500;
    border-radius: 20px;
    transition: transform 1s, box-shadow s;
    display: inline-block;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    z-index:5;
}

.armor-occupied img {
    width: 100%; /* Ensure the image fits within the profile block */
    border-radius: 8px; /* Optional: Adds rounded corners to the image */
}

.armor-occupied:hover {
    transform: rotateY(20deg); /* Rotate around the vertical axis on hover */
    background-color: #233470a2 ;
    z-index: 10;
}

.armor-occupied p {
    margin: 10px 0;
    text-align: center;
    color: #DAA520;
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(30px)
}

#armor-name {
    margin: 10px 0;
    text-align: center;
    color: #ebd35b;
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(20px);
    font-size: 40px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

#suggest-weapons, #go-metabuilds {
    font-family: 'Cinzel', serif; 
    background-color: #0000008e;
    color: #DAA520;
    width: 260px;
    height: 150px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

#suggest-weapons:hover, #go-metabuilds:hover {
    background-color: #DAA520;
    color: #000000;
    transform: scale(1.25);
}

.main-content .meta-build-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 950px;
}

.header-container {
    background-color: rgba(0, 0, 0, 0.438);
    padding: 20px;
    width: 100%;
}

.meta-build-search {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.meta-build-search input {
    height: 30px;
    width: 400px;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 10px;
}
.meta-build-search button {
    height: 36px;
    width: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    padding: 0;
}

.meta-build-search button:hover, .back:hover {
    background-color: #bb9107;
    transform: scale(1);
}

.build-list {
    min-width: 1000px;
    min-height: 600px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    perspective: 500px;
}

.build-text {
    background-color: aqua;
}

.build-image {
    background-color: beige;
    width: 100%;
    height: 100%;
}

.build {
    background-color: #333333;
    border: 3px solid #DAA520;
    min-width: 200px;
    min-height: 300px;
    height: 70%;
    text-align: center;
    border-radius: 12px;
    position: absolute;
    top: 10%;
    transition: 0.4s;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform-origin: bottom;
    pointer-events: none;
}

.build-list .build:nth-child(1) {
    transform: translateX(-350px) scale(0.8) rotateY(25deg);
    z-index: 1;
}
.build-list .build:nth-child(2) {
    transform: translateX(-350px) scale(0.8) rotateY(25deg);
    z-index: 2;
}

.build-list .build:nth-child(3) {
    transform: translateX(-250px) scale(0.9) rotateY(15deg);
    z-index: 3;
}

.build-list .build:nth-child(4) {
    transform: translateX(0) scale(1) rotateY(0deg);
    cursor: pointer;
    width: 400px;
    z-index: 4;
    pointer-events: auto;
}

.build-list .build:nth-child(4)::before {
    opacity: 1;
}

.build-list .build:nth-child(5) {
    transform: translateX(250px) scale(0.9) rotateY(-15deg);
    z-index: 3;
}
.build-list .build:nth-child(6) {
    transform: translateX(350px) scale(0.8) rotateY(-25deg);
    z-index: 2;
}
.build-list .build:nth-child(7) {
    transform: translateX(350px) scale(0.8) rotateY(-25deg);
    z-index: 1;
}
.list-buttons{
    min-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
}

.list-buttons span {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    margin-left: 5px;
    margin-right: 5px;
    bottom: 70px;
}

.list-buttons button {
    position: relative;
    bottom: 70px;
}

.list-buttons span:hover {
    opacity: 1;
}

.list-buttons span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    bottom: 20px;
    left: 20px;
    rotate: -45deg;
}
.list-buttons span:last-child::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    bottom: 20px;
    left: initial;
    right: 20px;
    rotate: 135deg;
}


.build::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(196, 192, 192, 0), rgba(0, 0, 0, 0.5));
    z-index: 2;
    opacity: 0;
    border-radius: 12px;
    transition: 0.4s all;
}


.build-list .build:nth-child(4) .build-name {
    opacity: 1;
    transform: translateY(0px);
}


.build img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 12px;
}

.build .build-name {
    text-align: center;
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(-30px);
    transition: 0.4s all;
}

.build-blurb header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 12px;
}

.slider {
    background-color: rgba(96, 96, 96, 0);
    min-height: 600px;
    min-width: 1000px;
    width: 100%;
    background-position: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: 0.4s all;
}

.slider.off *{
    transform: scale(0);
    transition: 0.4s all;
}

.slider.on *{
    transform: scale(1);
    transition: 0.4s all;
}

.slider.off {
    transform: scale(0);
}

.slider.on {
    height: 85vh;
}

.build-button {
    position: relative;
    z-index: 2;
}

.build-blurb {
    width: 100%;
    display: none;
    position: relative;
    color: #DAA520;
}

.build-blurb.hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: 0.4s all;
}

.build-blurb.selected {
    opacity: 1;
    transform: translateY(0);
    transition: 0.4s all;
}

.build-info {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}


.build-info table {
    border-collapse: collapse;
    margin-right: 10px;
    border-radius: 12px;
}

.build-info th, td{
    padding-left: 20px;
    white-space: normal;
}

.table-container, .info-container {
    border: 3px solid #DAA520;
    border-radius: 12px;
    transition: 0.4s all;
    background-color: #1e0342b5;
    margin: 5px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 600px;
}

.info-container {
    justify-content: space-between;
}


.back {
    height: 40px;
    width: 100px;
    margin: 10px;
    padding: 10px;
}


.table-container header {
    background-color: transparent;
    padding: 10;
}


.info-container p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.3rem;
    margin-top: 0;
}

.build-body {
    background-image: url("images/blas.webp");
    background-size: cover;
    background-repeat: no-repeat;

}


.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 0%;
}

.chat-window {
    width: 80%;
    height: 75vh;
    background-color: rgba(255, 255, 255, 0.712);
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.chat-input {
    display: flex;
    width: 80%;
}

.chat-input input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.chat-input button {
    width: 10%;
    padding: 10px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
}
.chat-input button:hover {
    background-color: #DAA520;
}

.user-message {
    clear: both;
    float: right;
    padding: 6px 10px 7px;
    border-radius: 15px 15px 0 15px;
    background: rgba(148, 182, 255, 0.4);
    margin: 8px 0;
    font-size: 20px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    max-width: 60%;
    align-self: flex-end;
    /* color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    align-self: flex-end;
    word-wrap: break-word;
    display: block;
    text-align: right; */
    
}

.bot-message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 15px 15px 15px 0;
    background: rgba(148, 182, 255, 0.4);
    margin: 8px 0;
    font-size: 20px;
    line-height: 1.4;
    /* margin-left: 35px; */
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    max-width: 60%;
    align-self: flex-start;
    /* color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    align-self: flex-start;
    max-width: 60%;
    word-wrap: break-word;
    display: block;
    text-align: left; */
}

.bounce-new-bot-msg {
    transform: scale(1.1);
    transform-origin: bottom left;
    animation: bounce 1s linear both;
}

.bounce-new-usr-msg {
    transform: scale(1.1);
    transform-origin: bottom right;
    animation: bounce 1s linear both;
}

@keyframes bounce { 
    0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

.message-label {
    font-weight: bold;
    margin-right: 10px;
}
.weapon-content-container {
    align-items: center;
    justify-content: center;
    background-color: #1e1e1ecb;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    gap: 10px;
}

.melina-container {
    display: flex;
    flex-direction: row-reverse;
    /* background-color: #1e1e1ecb; */
    align-items: center;
    justify-content: space-around;
    /* gap: 2rem; */
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 10;
    /* margin-left: 30px; */
}

/* .item {
  border: 1px solid grey;
  border-radius: 8px;
} */

.melina-suggestion {
    border: 2px solid #f0a500;
    border-radius: 20px;
    width: 40rem;
    height: 8.3rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: end;
    /* align-items: start; */
    text-align: left;
    line-height: 0.001;
    position: relative;
    color: #ffffff;
    font-size: 16px;
    transition: 1s;
    z-index: 13;
    margin-top: 550px;
    padding-left: 20px;
}

.melina-suggestion:hover {
    background-color: #1e1e1ed6;
    transform: scale(1.05);
    z-index: 11;
    transition: 1s;
}

.melina-suggestion p, .melina-suggestion span {
    opacity: 0; /* Initial state for fade-in effect */
}

#melina-name {
    font-size: 40px;
    /* margin: 10px 0; */
    text-align: left;
    color: #9269a2;
    z-index: 15;
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    /* transform: translateZ(20px); */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s forwards;
}

.melina-image {
    /* min-width: 35rem; */
    min-height: 35rem;
    max-width: 30rem;
    align-self: flex-end;
    z-index: 10;
    scale: 0.9;
    animation: breathing 3s ease-in-out infinite;
    position: absolute;
    margin-right: 150px;
}

#melina-image-showing {
    max-width: 40rem;
    max-height: 50rem;
}

.weapon-cards {
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    /* z-index: 100; */
    z-index: 10;
}

.sub-weapon-cards {
    display: grid;
    background-color: #1e1e1ecb;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 100;
}

.sub-weapon-cards.unownedw {
    grid-template-rows: 1fr 9fr;
}

.sub-weapon-cards.ownedw {
    grid-template-rows: 1fr 9fr;
}

.weapon-cards-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #daa520bb;
    font-weight: 900;
    font-size: 20px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 100;
}

.weapon-cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    gap: 30px;
    z-index: 100;
    margin: 30px;
}

.weapon-card {
    /* background-color: #1e1e1ecb; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    width: 250px;
    height: 300px;
    border-radius: 20px;
    transition: transform 1s, box-shadow 1s;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
}

/* .weapon-card:hover {
    transform: rotateY(20deg);
    background-color: #1e1e1ecb;
} */

@keyframes breathing {
    0%, 100% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1.12);
    }
}

@keyframes breathing1 {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
}

.weapon-card .card-front, .weapon-card .card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute; /* Position within the relatively positioned parent */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 2px solid #f0a500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.weapon-card .card-front {
    background-color: #1e1e1ecb;
    transform: rotateY(0deg);
}

.weapon-card .card-back {
    font-size: large;
    text-align: start;
    background-color: #1e1e1ecb;
    transform: rotateY(180deg);
}

.weapon-card.flipped .card-front {
    transform: rotateY(-180deg);
}

.weapon-card.flipped .card-back {
    transform: rotateY(0deg);
}

.weapon-card img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    transform: translateZ(70px);
    animation: breathing1 3s ease-in-out infinite;
}

.weapon-card p {
    margin: 10px 0;
    text-align: center;
    color: #DAA520;
    backface-visibility: hidden;
    height: 20%;
    width: 100%;
    transform: translateZ(20px);
}