body {
    font-family: Arial, sans-serif;
    background-color: #E1F7F5;
    color: black;
    margin: 0;
    display: flex;
    font-family: 'Cinzel', serif; 
}

.container {
    text-align: center;
    margin: auto;
    margin-top: -150px;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-blur {
    background-image: url('assets/img/bg1.webp');
    background-size: cover;
    background-position: center;
    width: 110%;
    height: 110%;
    position: absolute;
    filter: blur(2px);
}

.sidebar {
    width: 15%;
    background-color: #9AC8CD;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.sidebar img.sidebar-image {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}
.sidebar img.sidebar-image:hover {
    transform: scale(1.25);
}

.sidebar button.search-button img.search-icon {
    height: 30px;
}

.sidebar button {
    background-color: #1E0342;
    color: #E1F7F5;
    border: none;
    width: 70%;
    border-radius: 8px;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar button.active {
    background-color: #0E46A3;
    color: white;
    transform: scale(1.25);
}

.sidebar button:hover {
    background-color: #0E46A3;
    color: white;
    transform: scale(1.25);
    
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e72;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
}

h2 {
    color: #DAA520;
}

button {
    background-color: #0E46A3;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

#profile1next {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #0E46A3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s, transform 0.5s;
}

button:hover {
    transform: scale(1.25);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10rem;
}

.profile-selection, .build-list, .boss-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.attributes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1ecb;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: 0.3s;
}

.attributes-container p {
    color: #DAA520;
}

.attributes-container:hover {
    background-color: #233470a2;
    transform: scale(1.20);
}

.attributes-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.attributes-section {
    display: flex;
    align-items: center;
    gap: 50px;
    /* background-color: #f8f9fa; */
    padding: 20px;
}

.attributes, .loaded-attributes {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: #fff; */
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.attributes p, .loaded-attributes p {
    margin: 5px 0;
}

.attributes p {
    text-align: left;
}

.attributes {
    flex: 0 0 100px;
}

.loaded-attributes {
    flex: 1; /* Take the remaining space */
}

/* .profile-selection {
    display: flex;
    justify-content: space-around;
    scroll-behavior: smooth;
    width: 100%;
    padding-bottom: 20px;
} */

.profile, .build, .boss {
    background-color: #333333;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #555555;
    width: 150px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-occupied {
    background-color: #1e1e1ecb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    border: 2px solid #f0a500;
    border-radius: 20px;
    transition: transform 1s, box-shadow s;
    display: inline-block;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.profile:hover, .build:hover, .boss:hover {
    background-color: #555555;
    transform: scale(1.05);
}

.profile-occupied:hover {
    transform: rotateY(20deg); /* Rotate around the vertical axis on hover */
    background-color: #233470a2 ;
}

.profile-occupied img {
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(70px)
}

.profile-occupied p {
    margin: 10px 0;
    text-align: center;
    color: #DAA520;
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(30px)
}

#profile-name {
    margin: 10px 0;
    text-align: center;
    color: #ebd35b;
    backface-visibility: hidden; /* Hides the back side of the elements when rotated */
    transform: translateZ(70px);
    font-size: 40px;
}

.profile-occupied img {
    width: 100%; /* Ensure the image fits within the profile block */
    border-radius: 8px; /* Optional: Adds rounded corners to the image */
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

#suggest-weapons, #go-metabuilds {
    font-family: 'Cinzel', serif; 
    background-color: #0000008e;
    color: #DAA520;
    width: 260px;
    height: 150px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

#suggest-weapons:hover, #go-metabuilds:hover {
    background-color: #DAA520;
    color: #000000;
    transform: scale(1.25);
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 0%;
}

.chat-window {
    /* background: url('assets/img/armament/Academy\ Glintstone\ Staff.webp'); */
    /* background-repeat: repeat; */
    width: 80%;
    height: 75vh;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
    width: 80%;
}

.chat-input input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.chat-input button {
    width: 10%;
    padding: 10px;
    background-color: #0E46A3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.user-message {
    color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    align-self: flex-end;
    word-wrap: break-word;
    display: block;
    text-align: right;
    
}

.bot-message {
    color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    align-self: flex-start;
    max-width: 60%;
    word-wrap: break-word;
    display: block;
    text-align: left;
}
.message-label {
    font-weight: bold;
    margin-right: 10px;
}